:root {
  --color-bg-pm: #effbf0;

  --color-font-pm: #757575;
  --color-font-se: #010501;

  --color-btn-pm: #fbfaf9;
  --color-btn-bg-pm: #d63d3d;
  --color-btn-bg-se: #3f51b5;
  --color-btn-pm-hover: #e4641f;
  --color-btn-bg-pm-hover: #aa2626;
  --color-btn-bg-se-hover: #0b3b83;

  --fontsize-text: 1.2rem;
  --fontsize-subheader: 1.3rem;
  --fontsize-head: 1.4rem;

  --container-width-md: 90%;
  --container-width-sm: 95%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-bg-pm);
}

.home-page {
  position: relative;
  border: 2px solid black;
  height: 100vh;
}

.home-page .header {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
}

.home-page .hero-sec {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  transform: translate(0%, -50%);
}

.hero-sec .title {
  font-size: 2rem;
  text-align: center;
}

.home-page .btn-sec {
  text-align: center;
  margin-top: 40px;
}

.home-page .btn-sec div {
  margin: auto;
  max-width: 240px;
}

.home-page .btn-sec .btn {
  font-size: 1.5rem;
  padding: 5px 50px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-btn-bg-pm);
  border: none;
  color: white;
  width: 100%;
  border: 2px solid black;
  transition: all 0.3s;
}

.home-page .btn-sec .btn:hover {
  background-color: var(--color-btn-bg-pm-hover);
}

.home-page .btn-sec .btn-continue {
  background-color: var(--color-btn-bg-se);
  margin-top: 30px;
}

.home-page .btn-sec .btn-continue:hover {
  background-color: var(--color-btn-bg-se-hover);
}

.play-page .header {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.play-page .header .level {
  display: flex;
  align-items: center;
}

.play-page .header .btn-back-container {
  font-size: 2rem;
  display: flex;
  margin-left: 10px;
}

.play-page .header .btn-back-container .btn-back-icon {
  cursor: pointer;
  transition: all 0.2s ease-in;
  border-radius: 15px;
}

.play-page .header .score {
  display: flex;
  align-items: center;
}

.play-page .header .score .btn-hint-container {
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.play-page .header .score .btn-hint-icon {
  font-size: 2.1rem;
  border-radius: 20px;
  transition: 0.3s all;
}

.play-page .header .score .point-minus {
  background-color: #cb5515;
  color: white;
  border-radius: 20px;
  font-size: 0.8rem;
  height: 18px;
  width: 18px;
  text-align: center;
  position: absolute;
  left: 18px;
  top: 19px;
}

.play-page .header .btn-back-container .btn-back-icon:hover,
.play-page .header .score .btn-hint-icon:hover {
  background: rgb(175, 175, 179);
}

.play-page .image-sec {
  width: 400px;
  height: 400px;
  margin: auto;
  border: 3px solid black;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 5px;
  background-color: red;
  transition: 0.2s ease-in;
  font-weight: bold;
}

.play-page .image-sec img {
  width: 400px;
  height: 400px;
  overflow: hidden;
  transition: all 0.2s ease-out;
  /* filter: blur(50px);
  -webkit-filter: blur(28px); */
}

.play-page .char-name {
  text-align: center;
  margin-top: 20px;
  font-size: 1.75rem;
  color: #545454;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.play-page .input-form .input-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.play-page .input-form .input-container input {
  font-size: 1.7rem;
  width: 40px;
  margin: 5px;
  border: none;
  border-bottom: 2px solid black;
}

.play-page .input-form .btn-container {
  text-align: center;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.play-page .input-form .btn-container button {
  font-size: 1.5rem;
  margin: 2px;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.play-page .input-form .delete-btn-container {
  font-size: 2rem;
  margin: 2px;
  padding: 0px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.play-page .homepage-btn-container {
  text-align: center;
  max-width: 240px;
  margin: auto;
}

.play-page .homepage-btn-container button {
  font-size: 1.5rem;
  padding: 5px 50px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  width: 100%;
  margin: 10px 0px;
  border: 2px solid black;
}

.play-page .homepage-btn-container .btn-home-page {
  background-color: var(--color-btn-bg-pm);
  background-color: transparent;
  color: black;
}

.play-page .btn-next-level {
  background-color: var(--color-btn-bg-se);
}

.play-page .homepage-btn-container .btn-home-page:hover {
  /* background-color: var(--color-btn-bg-pm-hover); */
  background-color: rgb(196, 195, 195);
}

.play-page .btn-next-level:hover {
  background-color: var(--color-btn-bg-se-hover);
}

@media screen and (max-width: 410px) {
  .play-page .image-sec {
    width: 325px;
    height: 325px;
    margin: auto;
  }

  .play-page .image-sec img {
    width: 325px;
    height: auto;
    overflow: hidden;
    transition: all 0.2s ease-out;
  }
}
